.masterPage{
    .logo{
        background-image: url('/assets/images/logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 60px;
        height: 60px;
        margin: 10px auto;
    }
    .trigger{
        font-size: 18px;
        line-height: 64px;
        padding: 0 24px;
        cursor: pointer;
        transition: color .3s;
    }
    .ant-menu{
        li{
            a{
                display: inline-block;
            }
        }
    }
}